#nome {
    width: 80%; /* Largura */
    height: 25px; /* Altura */
    margin-left: 10%;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.p1{
    color: #000000; /* Adicionar cor azul */
    font-size: 30px; /* Aumentar o tamanho da fonte para 18 pixels */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%
}

.botao-entrar:hover {
    background-color: darkgreen; /* Cor de fundo mais escura quando passa o mouse */
}
.botao-entrar,
.botao-entrar:hover,
.botao-entrar:visited {
    color: inherit; /* Mantém a cor do texto herdada */
    text-decoration: none; /* Remove o sublinhado */
}

.botao-entrar {
    font-weight: bold; 
    background-color:#fff; /* Cor de fundo verde para o botão */
    color: #1E9944; /* Cor do texto branca */
    padding: 10px 20px; /* Adiciona espaço interno ao botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mostra a mãozinha ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 50px; /* Adiciona uma margem superior ao botão */
    margin-left: 40%;
  
    
}

.b1{
    color: #fff; /* Adicionar cor azul */
    font-size: 20px; /* Aumentar o tamanho da fonte para 18 pixels */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 55px
}

.b2 {
    color: #fff; /* Adicionar cor azul */
    font-size: 20px; /* Aumentar o tamanho da fonte para 18 pixels */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px
}

.bemvindo {
    font-size: 30px; /* Mudar o tamanho do texto para 20 pixels */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px
}

.first-div {
    width: 40vw; /* Definindo largura para a primeira div em 50% da largura da viewport */
    height: 60vh; /* Definindo altura para a primeira div em 50% da altura da viewport */
    background-color: #1E9944;
 
}


.second-div {
    width: 60vw; /* Definindo largura para a segunda div em 70% da largura da viewport */
    height: 60vh; /* Definindo altura para a segunda div em 30% da altura da viewport */
    background-color: #fff;
}
.inner-div {
    width: 60%; /* Define a largura como 50% da largura do contêiner pai */
    height: 60%; /* Define a altura como 50% da altura do contêiner pai */
    background-color: lightblue; /* Apenas para fins de demonstração */
    display: flex
    

}

.menu {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .logo img {
    max-width: 150px;
    }
    
    .menu-items {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    }
    
    .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .links li {
    margin-left: 20px;
    }
    
    .links a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    }
    
    .links a:hover {
    color: #000000; /* Cor ao passar o mouse */
    }
    
    .login {
    display: flex;
    align-items: center;
    }
    
    .login span {
    margin: 0 10px;
    color: #000000;
    }
    
    .btn-green {
    color: #fff;
    background-color: green;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    }
    
    .btn-green:hover {
    background-color: darkgreen; /* Cor ao passar o mouse */
    }
   
   
   .main_footer { 
   
    background-color:#1E9944; 
    color:#fff; 
    font-size:0.875em; 
    }
    
    .main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
    .container { float:left; width:100%; }
    
    .colfooter { 
    
    width:100%; 
    height:auto; 
    float:left; 
    margin-bottom:2em;
    
    }
    
    .colfooter ul { width:100%; float:left; }
    .colfooter ul li { padding:0.2em 0em; }
    .colfooter ul li a { text-decoration:none; color:#ffffff; font-size:1em; }
    .colfooter ul li a i { font-size:0.5em; }
    .colfooter ul li a:hover { text-decoration:underline; }
    
    .colfooter .titleFooter { 
    
    font-family:'open_sansregular'; 
    font-size:1.3em; 
    color:#ffffff; 
    padding-bottom: 0.5em; 
    margin-bottom:0.5em; 
    border-bottom:1px #FFFFFF solid;
    }
    
    .colfooter p { font-family:'open_sanslight'; color:#ffffff; font-size:1em; height:25px; } 
    
    .botao{
    
    padding: 10px 12px;
    color: #fff;
    font-family: 'open_sansregular';
    letter-spacing:2px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    margin-right:7px;
    
    }
    .botao::before {
    
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
    }
    .botao:hover::before {
    
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
    }
    .botao{
    
    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family:'open_sansregular';
    border:1px solid #ffffff;
    border-radius:3px;
    overflow: hidden!important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent!important;
    z-index:10;
    
    }
    .botao:hover{
    
    border: 1px solid #262626;
    color: #FFFFFF!important;
    }
    .botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg); 
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
    } 
    .botao::after {
    
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #FFFFFF;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg); 
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
    }
    .botao:hover::before, .botao:hover::before{
    
    opacity:1;
    width: 120%;
    
    }
    .botao:hover::after, .botao:hover::after{
    
    opacity:1;
    width: 150%;
    
    }
    
    .main_footer_copy { background-color:#1E9944; width:100%; float:left; text-align:center; padding:1.5em 0em; }
    .main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
    .main_footer_copy .m-b-footer { margin-bottom:0.5em; }
    .main_footer_copy .by { font-size:0.96em; }
    .main_footer_copy .by a { color:#fff; text-decoration:none; }
    .main_footer_copy .by a:hover { text-decoration:underline; }
    .main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#12C449; }
    
    /*Responsivo*/
    /*768PX BREAKPOINT*/
    @media (min-width:48em){
    
    .colfooter { width:30%; margin-right:5%; margin-bottom:0; }
    .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
    
    }
   
    .container-main {
    background-color: #12C449;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .container-main main {
    width: 90%;
    max-width: 1200px; /* Defina o valor máximo desejado */
   }
   